<div id="multidisc">
	<table>
		<tr class="line">
			<td colspan="3"></td>
		</tr>
		<tr class="header">
			<td colspan="3">Other discs in this set:</td>
		</tr>
		{% for multidisc in multidiscs %}
		<tr class="line">
			<td colspan="3"></td>
		</tr>
		<tr>
			<td class="small_cover_md">
				{# 
					TODO: an anchor without href is useless and invalid!
					TODO: is there a need for rawurlencode of image_id & album_id ?
				#}
				<a>
					<img src="image.php?image_id={{ multidisc.image_id|url_encode(true) }}" width="100%">
				</a>
			</td>
			<td>
				<a href="index.php?action=view3&amp;album_id={{ multidisc.album_id|url_encode(true) }}">
					{{ multidisc.album }}
				</a>
			</td>
			<td class="iconDel">
				<a href="javascript:
					ajaxRequest(
						'play.php?action=updateAddPlay&amp;album_id={{ multidisc.album_id }}',
						updateAddPlay
					);
					ajaxRequest(
						'play.php?action=addSelect&amp;album_id={{ multidisc.album_id }}',
						evaluateAdd
					);">
					<i id="add_{{ multidisc.album_id }}" class="fa fa-fw  fa-plus-circle  icon-small"></i>
				</a>
			</td>
		</tr>
		{% endfor %} 
	</table>
</div>