{#
 TODO: variable $featuring does not make any sense in controller because its always false
#}

<div id="playlist">
	<span  class="playlist-title">Tracklist</span>
	<table cellspacing="0" cellpadding="0" class="border">
		<tr class="header">
			<td class="icon"></td>{# track menu #}
			<td class="icon"></td>
			<td class="trackNumber">#</td>
			<td>Title</td>
			<td class="track-list-artist">Artist</td>
			<td class="textspace track-list-artist"></td>
			<td>{% if featuring %}Featuring{% endif %}</td>{# optional featuring #}
			<td></td>
			<td align="right" class="time">Time</td>
			<td class="space right">
				<div class="space"></div>
			</td>
		</tr>

		{% for albumdisc in album.albumdiscs %}
		{% for track in albumdisc.tracks %}
		<tr class="{{ cycle(['odd', 'even'], loop.index0) }} mouseover">
			<td class="icon">
				<span id="menu-track{{ loop.index }}">
					<div onclick="toggleMenuSub({{ loop.index }});">
						<i id="menu-icon{{ loop.index }}" class="fa fa-bars icon-small"></i>
					</div>
				</span>
			</td>
			<td class="icon">
				<span>
					{% if cfg.access_add %}
					<a href="javascript:
						ajaxRequest(
							'play.php?action=addSelect&amp;track_id={{ track.track_id }}',
							evaluateAdd
						);"
						onMouseOver="return overlib('Add track {{ track.number }}');"
						onMouseOut="return nd();">
						<i id="add_{{ track.track_id }}" class="fa fa-plus-circle fa-fw icon-small"></i>
					</a>
					{% endif %}
				</span>
			</td>
			<td class="trackNumber">
				{% if cfg.access_play %}
				<a href="javascript:ajaxRequest('play.php?action=insertSelect&amp;playAfterInsert=yes&amp;track_id={{ track.track_id }}');"
					onMouseOver="return overlib('Play track {{ track.number }}');"
					onMouseOut="return nd();">
					{{ track.number }}
				</a>
				{% endif %}
			</td>
			<td>
				{% if cfg.access_play %}
				<a href="javascript:ajaxRequest('play.php?action=insertSelect&amp;playAfterInsert=yes&amp;track_id={{ track.track_id }}');"
					onMouseOver="return overlib('Play track {{ track.number }}');"
					onMouseOut="return nd();">
					{{ track.title }}
				</a>
				{% elseif cfg.access_add %}
				<a href="javascript:ajaxRequest('play.php?action=addSelect&amp;track_id={{ track.track_id }}', evaluateAdd);"
					onMouseOver="return overlib('Add track {{ track.number }}');"
					onMouseOut="return nd();">
					{{ track.title }}
				</a>
				{% elseif cfg.access_stream %}
				<a href="stream.php?action=playlist&amp;track_id={{ track.track_id }}&amp;stream_id={{ cfg.stream_id }}"
					onMouseOver="return overlib('Stream track {{ track.number }}');"
					onMouseOut="return nd();">
					{{ track.title }}
				</a>
				{% else %}
					{{ track.title }}
				{% endif %}
				<span class="track-list-artist-narrow">by {{ track.track_artist }}</span>
			</td>
			<td class="track-list-artist">
				{% for artist in track.artists %}
					<a href="index.php?action=view2&amp;artist={{ artist|url_encode(true) }}">{{ artist }}</a>
					{% if not loop.last %}
					<a href="index.php?action=view2&amp;artist={{ track.track_artist|url_encode(true) }}&amp;order=year">
						<span class="artist_all">&amp;</span>
					</a>
					{% endif %}
				{% endfor %}
			</td>
			<td class="track-list-artist"></td>
			<td>{% if track.featuring %}{{ track.featuring }}{% endif %}</td>
			<td onclick="toggleStarSub({{ loop.index }},'{{ track.track_id }}');" class="pl-favorites">
				<span id="blacklist-star-bg{{ track.track_id }}" class="{{ track.blacklist_pos ? 'blackstar blackstar-selected' : '' }}">
					<i class="fa fa-star{{ track.favorite_pos ? '' : '-o' }} fa-fw" id="favorite_star-{{ track.track_id }}"></i>
				</span>
			</td>
			<td align="right">{{ track.miliseconds|formattedTime }}</td>
			<td></td>
		</tr>
		<tr class="line">
			<td></td>
			<td colspan="16"></td>
		</tr>
		<tr>
			<td colspan="10">
				{% include 'partials/starSubMenu.htm' with { trackIndex: loop.index } %}
			</td>
		</tr>
		<tr>
		<td colspan="10">
			{% include 'partials/trackSubMenu.htm' with { trackIndex: loop.index } %}
		</td>
	</tr>
	{% endfor %}{# end tracks loop #}
	{% if not loop.last %}{# disc loop #}
		<tr class="line"><td colspan="15"></td></tr>
	{% endif %}
	{% endfor %}{# end disc loop #}
	</table>
	<div>
		<h1>
			{# TODO: is it correct to show total time of first disc? #}
			<div class="total-time">Total: {{ album.albumdiscs.1.sum_miliseconds|formattedTime }}</div>
		</h1>
	</div>
</div>