/.settings
include/config.local.inc.php
.buildpath
.project
_notepad++_edit_session
mpd_sync.sh
test.php
test1.php
test*
TODO.txt
get-db-data.php
tidalapi/tidal.py
.vscode
ajax-tidal-download.php
ajax-hra-download.php
ajax-tidal-pages.php