/*  +------------------------------------------------------------------------+
    | styles.css                                                             |
    +------------------------------------------------------------------------+ */

@import url("./../styles_inc.less");

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-Light.ttf);
    font-weight: 300;
}

/* Main background */
@bg-main: #faf9f9;

/* Sub background */
@bg-sub: #fafafa;

/* Categories background (headers, footers, album/now playing) */
@bg-categories: #ececec;

/* Background color of track in tracklist/playlist */
@bg-track: #ffffff;

/* Background playlist current track */
@bg-playlist-active: #f5f5f5;
@bg-track-playing-active: #e74c3c;

/* Background of track submenu */
@bg-track-submenu: #fafafa;

/* Main banner background */
@bg-banner: #2c3e50;

/* Main sub banner background */
@bg-sub-banner-2: #2c3e50;

/* Main sub sub banner background */
@bg-sub-sub-banner-2: #3c4e60;

/* Sub banner background */
@bg-sub-banner: #16a085;

/* Sub sub banner background */
@bg-sub-sub-banner: #36c0a5;

/* Footer background */
@bg-footer: @bg-banner;

/* Background of forms */
@bg-forms: #fefefe;
@bg-forms-banner: #fefefe;

/* Separators in subbanner */
@separator-sub-banner: #cccccc;

/* fonts */
@font-first: #2C3E50;
@font-active: #3498db;
@font-banner: #2C3E50;
@font-categories: #777777;
@font-tags: #ffffff;
@font-search-button: #ffffff;
@font-sub-banner: #ffffff;
@font-sub-sub-banner: #ffffff;
@font-sub-button: #fdf6e3;
@font-album-title-library: #ffffff;
@font-artist-library: #bbbbbb;
@font-track-playing: #e74c3c;
@font-track-playing-active: #fdf6e3;
@font-album-title-playing: #777777;

/* tabs */
@tab-selected: #e67e22; 
@tab: #ececec;

/* buttons */
@button: #777777;
@button-banner: #bbbbbb;
@button-banner-active : #ffffff;

/* buttons in add/save playlist menu and submenus */
@button-sub: #777777;

/* buttons in select player, paginator, favorites, etc.*/
@button-nav: #16a085;
@button-quick-play: #ffffff;

/* buttons in Now Playing: ff, play/pause, etc. */
@button-playlist: #9f9f9f;
@button-playlist-off: #f0f0f0;
@button-playlist-on: #e74c3c;

/* logo */
@logo-first-color: #3498db;
@logo-second-color: #ffffff;

/* playing bars */
@playing-bar: #e74c3c;
@bg-playing-bar: #e3e3e3;
@volume-bar: @playing-bar;

/* Active color */
@active-nav: #e74c3c;
@active-banner: #e74c3c;

/* Player buttons outline */
@player-button-outline: false;
